body {
    font-family: "Arial", sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    text-align: center;
}

ul {
    list-style-type: none;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}